@font-face{
    font-family: 'ComicShannsMono Nerd Font';
    font-display: swap;
    src: url('../font/ComicShannsMonoNerdFont-Regular.otf') format("truetype");
}
body {
    font-family: 'ComicShannsMono Nerd Font';
}
